/* CSS Vars */
:root {
	--main-bg-color-orange: #f7941d;
	--main-bg-color-green: green;
	--outline-pink: deeppink;
	--outline-black: #333;
	--outline-white: #fff;
	--hover-blue-button: #4678b3;
}

/* section 1 */
.section1 {
	height: 504px;
	color: #333;
	border: solid 2px var(--outline-black)
}

.section1 .container {
	padding-top: 100px;
	height: 500px;
	background-image: url('../images/DSC_5160.JPG');
	background-position: center;
	background-size: cover;
	border: solid 2px var(--outline-pink)
}

.section1 .row {
	border: solid 2px red;
}

.section1 .col-md-4 {
	border: solid 2px var(--main-bg-color-green);
	background-color: white;
	padding: 50px 50px 50px 50px;
}

.section1 .col-md-12 {
	border: solid 2px var(--main-bg-color-green);
}

.section1 .col-md-6 {
	border: solid 2px blue
}

.section1 .btn-outline-primary {
	border: solid 1px var(--hover-blue-button)
}

.section1 .btn-outline-primary:hover {
	border: solid 1px var(--outline-black);
background-color: var(--outline-black);
color: var(--hover-blue-button);
}

/* section 2 */
.section2 {
	height: 504px;
	color: #FFF;
	border: solid 2px var(--outline-black);
}

.section2 .container {
	padding-top: 100px;
	height: 500px;
	background-image: url();
	background-position: center;
	background-size: cover;
	background-color: var(--main-bg-color-orange);
	border: solid 2px var(--outline-pink);
}

.section2 .row {
	border: solid 2px red;
}

.section2 .col-md-4 {
	border: solid 2px var(--main-bg-color-green);
	background-color: var(--main-bg-color-orange);
	padding: 50px 50px 50px 50px;
}

.section2 .col-md-12 {
	border: solid 2px var(--main-bg-color-green);
}

.section2 .col-md-6 {
	border: solid 2px blue
}

.section2 .btn-outline-primary {
	border: solid 1px var(--outline-white);
	color: var(--outline-white);
}

.section2 .btn-outline-primary:hover {
	border: solid 1px var(--outline-black);
background-color: var(--outline-black);
color: var(--hover-blue-button);
}

/* section 3 */
.section3 {
	height: 504px;
	color: #FFF;
	border: solid 2px var(--outline-black);
}

.section3 .container {
	padding-top: 100px;
	height: 500px;
	background-image: url();
	background-position: center;
	background-size: cover;
	background-color: var(--main-bg-color-green);
	border: solid 2px var(--outline-pink);
}

.section3 .row {
	border: solid 2px red;
}

.section3 .col-md-4 {
	border: solid 2px var(--main-bg-color-green);
	background-color: var(--main-bg-color-green);
	padding: 50px 50px 50px 50px;
}

.section3 .col-md-12 {
	border: solid 2px var(--main-bg-color-green);
}

.section3 .col-md-6 {
	border: solid 2px blue
}

.section3 .btn-outline-primary {
	border: solid 1px var(--outline-white);
	color: var(--outline-white);
}

.section3 .btn-outline-primary:hover {
	border: solid 1px var(--outline-black);
background-color: var(--outline-black);
color: var(--hover-blue-button);
}

/* contact */

.contact {
	color: #333;
	border: solid 2px var(--outline-black);
}

.contact .container {
	background-color: var(--outline-white);
	border: solid 2px var(--outline-pink);
}

.contact .row {
	border: solid 2px red;
}

.contact .col-md-4 {
	border: solid 2px var(--main-bg-color-green);
	background-color: var(--outline-white);
	padding: 50px 50px 50px 50px;
}

.contact .col-md-12 {
	border: solid 2px var(--main-bg-color-green);
}

.contact .col-md-6 {
	border: solid 2px blue
}

.contact .btn-outline-primary {
	border: solid 1px var(--outline-white);
	color: var(--outline-white);
}

.contact .btn-outline-primary:hover {
	border: solid 1px var(--outline-black);
background-color: var(--outline-black);
color: var(--hover-blue-button);
}

/* section 4 */
.section4 {
	height: 604px;
	color: #333;
	border: solid 2px var(--outline-black);
}

.section4 .container {
	padding-top: 125px;
	height: 600px;
	background-image: url();
	background-position: center;
	background-size: cover;
	background-color: var(--outline-white);
	border: solid 2px var(--outline-pink);
}

.section4 .row {
	border: solid 2px red;
}

.section4 .col-md-4 {
	border: solid 2px var(--main-bg-color-green);
	background-color: var(--main-bg-color-green);
	padding: 50px 50px 50px 50px;
}

.section4 .col-md-12 {
	border: solid 2px var(--main-bg-color-green);
}

.section4 .col-md-6 {
	border: solid 2px blue
}

.section4 .btn-outline-primary {
	border: solid 1px var(--hover-blue-button);
	color: var(--hover-blue-button);
}

.section4 .btn-outline-primary:hover {
	border: solid 1px var(--outline-black);
	background-color: var(--outline-black);
	color: var(--hover-blue-button);
}

.section4 blockquote {
	font-size: 45px;
}

/* Footer CSS */
footer {
	color: #FFF;
	border: solid 2px var(--outline-pink);
	background-color: #7363ac;
}

footer a {
	color: #FFF;
	border: solid 2px var(--main-bg-color-green);
}

footer a:hover {
	color: var(--outline-black);
}

footer .col-sm-6 {
	border: solid 1px red;
}

footer .row {
	border: solid 1px red;
}